<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<script>
    function add_input() {
        var inputs = $('.inputs input[type="text"]');
        var new_id = inputs.length + 1;
        $('.inputs').append('<input id="id-' + new_id + '" name="name[]" />');
    }
</script>
<form id="Form" method="post">
    <div class="inputs">
        <input id="id-1" name="name[]"/>
    </div>
    <input type="button" onclick="add_input()" value="Добавить"/>
    <button type="submit">Create</button>
</form>
</body>
</html>


